<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome to Fixerloop</title>
    <style>
      .container { margin: 1rem auto; padding: 1rem; } p { margin-bottom: 20px; } .footer { margin-top: 1.5rem;
      text-align: center; font-size: .725rem; padding-left: 1rem; padding-right: 1rem; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h4>Welcome to Fixerloop</h4>
      <p>We are excited to have you join Fixerloop, your go-to platform for various on-demand services.</p>

      <p>Here are a few things you can do with Fixerloop:</p>
      <ul>
        <li>Book services such as plumbing, electrical work, cleaning, landscaping, and more.</li>
        <li>Manage your bookings and appointments conveniently.</li>
        <li>Enjoy seamless communication with service providers.</li>
      </ul>

      <p>If you have any questions or need assistance, feel free to reach out to our support team at
        <a href='mailto:support@fixerloop.com'>support@fixerloop.com</a>.</p>
      <br />
      <p>We look forward to making your life easier and more convenient with Fixerloop!</p>
      <br />
      <p>Best regards,</p>
      <p>The Fixerloop Team</p>
    </div>
    <div class='footer'>
      <p>This is an automated message. Please do not reply to this email.</p>
    </div>
  </body>
</html>