<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Password Reset Confirmation</title>
    <style>
      .container { margin: 1rem auto; padding: 1rem; } p { margin-bottom: 20px; } .footer { margin-top: 1.5rem;
      text-align: center; font-size: .725rem; padding-left: 1rem; padding-right: 1rem; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h4>Welcome {{name}},</h4>
      <p>This email is to confirm that your password for your Fixerloop account has been successfully reset.</p>
      <p>If you did not initiate this password change, please contact our support team immediately at
        <a href='mailto:support@fixerloop.com'>support@fixerloop.com</a>
        for assistance.</p>
      <br />
      <p>Thank you,</p>
      <p>The Fixerloop Team</p>
    </div>
    <div class='footer'>
      <p>This is an automated message. Please do not reply to this email.</p>
    </div>
  </body>
</html>